/************* CodeRay styles *************/
.theme-Pepper table.filecontent {
  border: 1px solid #000;
  border-collapse: collapse;
  width:98%;
  background-color: #181818;

  background: #002A35!important;
  color: #93A1A1!important;

}
.theme-Pepper table.filecontent tbody {
  font-family:"Liberation Mono", Courier, monospace; font-size:12px;
}
.theme-Pepper table.filecontent th {
  border: 1px solid #000;
  background-color: #333;
  background-color:#d5f6f6;
    color:#808080;
}
.theme-Pepper table.filecontent th.filename {
  background-color: #141414;
  text-align: left;
  padding: 5px;
}
.theme-Pepper table.filecontent tr.spacing th {
  text-align:center;
}

.theme-Pepper table.filecontent tr.spacing td {
  height: 0.4em;
  background: #EAF2F5;
}
.theme-Pepper table.filecontent th.line-num{
    border: 1px solid #002A35;
    text-align: right;
    width: 2%;
    padding: 0 3px 0 0;
    background-color:#0E3A46;
    color:#808080;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-weight:normal;
}
.theme-Pepper table.filecontent th.line-num a {
    text-decoration: none;
    color: inherit;
}
.theme-Pepper table.filecontent td.line-code {padding: 0 0 0 4px;}
.theme-Pepper table.filecontent td.line-code pre {
    margin: 0px;
    white-space: pre-wrap;
    font-family:"Liberation Mono", Courier, monospace; font-size:12px;
}
.syntaxhl{
  color: #ccc;
}
.syntaxhl div {display: inline;}
.syntaxhl .line-numbers {padding: 2px 4px 2px 4px; background-color: #333; margin:0px 5px 0px 0px;}

.syntaxhl.code pre { overflow: auto }
.syntaxhl.debug { color:white ! important; background:blue ! important; }

.syntaxhl .delete .eyecatcher { background-color: hsla(0,100%,50%,0.2); border: 1px solid hsla(0,100%,45%,0.5); margin: -1px; border-bottom: none; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.syntaxhl .insert .eyecatcher { background-color: hsla(120,100%,50%,0.2); border: 1px solid hsla(120,100%,25%,0.5); margin: -1px; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

.syntaxhl .debug{color:#fff;background:#00f}
.syntaxhl .annotation{color:#586E75}
.syntaxhl .attribute-name{color:#93A1A1}
.syntaxhl .attribute-value{color:#93A1A1}
.syntaxhl .binary{color:#509}
.syntaxhl .char .content{color:#d20}
.syntaxhl .char .delimiter{color:#710}
.syntaxhl .char{color:#2AA198}
.syntaxhl .class{color:#268BD2;font-weight:bold}
.syntaxhl .class-variable{color:#268BD2}
.syntaxhl .color{color:#eee8d5}
.syntaxhl .comment{color:#586E75}
.syntaxhl .comment .char{color:#859900}
.syntaxhl .comment .delimiter{color:#859900}
.syntaxhl .complex{color:#a08}
.syntaxhl .constant{color:#B58900;font-weight:bold}
.syntaxhl .decorator{color:#268BD2}
.syntaxhl .definition{color:#099;font-weight:bold}
.syntaxhl .delimiter{color:#93A1A1}
.syntaxhl .directive{color:#088;font-weight:bold}
.syntaxhl .doc{color:#93A1A1}
.syntaxhl .doc-string{color:#93A1A1;font-weight:bold}
.syntaxhl .doctype{color:#DC322F}
.syntaxhl .entity{color:#CB4B16;font-weight:bold}
.syntaxhl .error{color:#93A1A1;background-color:#faa}
.syntaxhl .escape{color:#CB4B16}
.syntaxhl .exception{color:#CB4B16;font-weight:bold}
.syntaxhl .float{color:#2AA198}
.syntaxhl .function{color:#268BD2;font-weight:bold}
.syntaxhl .global-variable{color:#268BD2}
.syntaxhl .hex{color:#2AA198}
.syntaxhl .imaginary{color:#f00}
.syntaxhl .include{color:#b44;font-weight:bold}
.syntaxhl .inline{background-color:transparent;color:#93A1A1!important}
.syntaxhl .inline-delimiter{font-weight:bold;color:#DC322F}
.syntaxhl .instance-variable{color:#268BD2}
.syntaxhl .integer{color:#2AA198}
.syntaxhl .key .char{color:#DC322F}
.syntaxhl .key .delimiter{color:#268BD2}
.syntaxhl .key{color:#859900}
.syntaxhl .keyword{color:#859900;font-weight:bold}
.syntaxhl .label{color:#93A1A1;font-weight:bold}
.syntaxhl .local-variable{color:#268BD2}
.syntaxhl .namespace{color:#859900;font-weight:bold}
.syntaxhl .octal{color:#2AA198}
.syntaxhl .operator, .predefined{color:#859900;font-weight:bold}
.syntaxhl .predefined-constant{color:#2AA198}
.syntaxhl .predefined-type{color:#DC322F;font-weight:bold}
.syntaxhl .preprocessor{color:#859900}
.syntaxhl .pseudo-class{color:#859900;font-weight:bold}
.syntaxhl .regexp .content{color:#2AA198}
.syntaxhl .regexp .delimiter{color:#DC322F}
.syntaxhl .regexp .modifier{color:#CB4B16}
.syntaxhl .regexp{background-color:transparent}
.syntaxhl .reserved{color:#268BD2;font-weight:bold}
.syntaxhl .shell .content{color:#2b2}
.syntaxhl .shell .delimiter{color:#161}
.syntaxhl .shell{background-color:transparent}
.syntaxhl .string .char{color:#2AA198}
.syntaxhl .string .content{color:#2AA198}
.syntaxhl .string .delimiter{color:#DC322F}
.syntaxhl .string .modifier{color:#2AA198}
.syntaxhl .string{background-color:transparent}
.syntaxhl .symbol .content{color:#2AA198}
.syntaxhl .symbol .delimiter{color:#2AA198}
.syntaxhl .symbol{color:#2AA198}
.syntaxhl .tag{color: #268BD2}
.syntaxhl .type{color:#DC322F;font-weight:bold}
.syntaxhl .value{color:#268BD2}
.syntaxhl .variable{color:#268BD2}
.syntaxhl .insert{background:transparent}
.syntaxhl .delete{background:transparent}
.syntaxhl .change{color:#CB4B16;background:transparent}
.syntaxhl .head{color:#CB4B16;background:transparent}
.syntaxhl .head .filename{color:#CB4B16}
.syntaxhl .delete .eyecatcher{background-color:rgba(255,0,0,0.2);border:1px solid rgba(230,0,0,0.5);margin:-1px;border-bottom:none;border-top-left-radius:5px;border-top-right-radius:5px}
.syntaxhl .insert .eyecatcher{background-color:rgba(0,255,0,0.2);border:1px solid rgba(0,128,0,0.5);margin:-1px;border-top:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px}
.syntaxhl .insert .insert{color:#CB4B16;background:transparent;font-weight:bold}
.syntaxhl .delete .delete{color:##2AA198;background:transparent;font-weight:bold}
.syntaxhl .change .change{color:#CB4B16}
.syntaxhl .head .head{color:#CB4B16}