.controller-activities
  .time
    color: $meta_color
    font-size: 0.8em
div#activity dt.me .time
  border-bottom: 0

div#activity dl
  margin: 0
div#activity dt.grouped,
div#activity dd.grouped
  margin-left: 4em
div#activity dt
  padding-left: 24px
  margin-top: 1em
  line-height: 18px
  background-position: 0 0
  .grouped
    +clearfix
  img.gravatar
    margin-bottom: 0.547em
  a
    font-size: 16px
    float: left
    padding-right: 4px
  span.time
    font-style: italic
    font-size: 10px
  span.project
    float: left
    margin-right: 2px
div#activity dd 
  margin: 0px 0px 0px 67px
  +clearfix
  padding-left: 0px
  font-size: inherit
  span.description
    font-style: normal
    margin: 0.2em 0
//user account page
.controller-users.action-show div#activity dd 
  margin: 0 0 0 24px